.page-header.navbar .page-logo .logo-default {
    width: 150px;
    margin: 3px 0 0 0;
}
.page-header.navbar .page-logo {
    padding-left: 4px;
    padding-right: 20px;
}
.page-footer {
    text-align: center;
}
.page-footer .page-footer-inner {
    float: none;
}
.page-header.navbar .page-actions {
    margin: 10px 0 15px 10px;
    padding: 0;
    float: left;
}
.modal-header {
    background-color: #005e5d;
    border-radius: 5px;
}
.modal-body {
    padding-top: 5px !important;
    margin-bottom: -10px !important;
}
.form-group {
    margin-bottom: 10px !important;
}
.modal-title {
    color: #fff;
}

.center{
    text-align: center;

}

#cajabusqueda{
    width: 400px;
    height: 50px;
    border: solid 2px #979DAE;
    font-size: 16px;
  
}

#display{
    width: 400px;
    height: 35px;
    display: none;
    overflow: hidden;
    z-index: 10;
    border: solid 1px #979DAE;
    border-radius:0px 0px 5px 5px;
    text-align: left;
    border-top: none;
    
}
.notif{
    list-style: none;
    margin: 5px;
}